<div class="jumbotron center">

	<div class= "container"><font size = "8">
		<p>This is a sample pinterest application</p>
		<p>where users can add pins to share with friends!</p>
	</font size></div>
	<br>

	<div class = "container"><font size ="6">
			<p>Click <%= link_to "here", 'http://eepurl.com/ShH59' %> to sign up for the mailing list</p>
	</font size></div>

</div>