<div class="jumbotron center">
	<h1><font size = "8">About My Project</font></h1>

	<div class= "container"><font size = "6">
		<p>This is a sample pinterest application!</p>
		<p>Users can add pins with descriptions to share with friends!</p>
	</font size></div>
</div>