<div class="jumbotron center">
	<h1><font size = "8">About My Project</font></h1>

	<div class= "container"><font size = "6">
		<p>This is a sample pinteresting application!</p>
		<p>Users can create an account and login.</p>
	</font size></div>
</div>