<div class="panel panel-default">
	<div class="panel-heading">
		<h2>About My Project</h2>	
	</div>

	<div class="panel-body"><font size = "4">
		<div class = "form-group">
			<p>This is a sample pinterest application where users can add pins to share with friends!</p>
		</div><br>

		<div class = "form-group">
			<p>Register for the <%= link_to 'http://eepurl.com/ShH59' do %>
            mailing list <span class="glyphicon glyphicon-envelope"></span>
      	<% end %> to receive updates!</p>
      </div>

	</font size></div>

	<div class = "panel-footer">
	   <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-md" %></p>
		<p><%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-md" %></p>
  	</div>

</div>
