<div class="jumbotron center">
<h1> <font size = "8">Welcome to my app!</font> </h1>
	<%= link_to "Log in", "#", class: "btn btn-default"%>
	<%= link_to "Sign up", "#", class: "btn btn-primary"%>
</div>
